.blog-content h1 {
     font-size: 36px;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 10px;
}

.blog-content h2 {
     font-size: 28px;
     font-weight: 600;
     margin-top: 18px;
     margin-bottom: 8px;
}

.blog-content p {
     font-size: 16px;
     line-height: 1.7;
     margin-bottom: 10px;
}

.blog-content ul {
     padding-left: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.blog-content li {
     list-style: disc;
     margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
     .blog-content h1 {
          line-height: 35px;
     }
}

.blog-content strong {
     font-weight: 800;
}

.blog-content h1 strong {
     font-weight: 900;
}

.blog-content h2 strong {
     font-weight: 800;
}