@import "tailwindcss";

.playfair{
  font-family: "Playfair Display", serif;
}

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.urbanist{
  font-family: "Urbanist", sans-serif;
}


@theme {
  --color-heading: #161616;
  --color-dark-blue: #001542;
  --color-light-blue: #0035AB;
  --color-dark-black: #161616;
  --color-dark-gray: #1616167d;
  --color-blue: #003D63;
  --color-cust-orange: #FF5500;
  --color-error: #C20001;
}

@media (hover: hover) {

  .header-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    bottom: -50px;
    background: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
  }

  .header-btn:hover::after {
    transform: scale(60);
  }

}

.marquee-left {
  width: max-content;
  animation: marquee-left 25s linear infinite;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee-right {
  width: max-content;
  animation: marquee-right 25s linear infinite;
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}